<div class="container mt-5">
  <div class="p-5 mb-4 bg-body-tertiary rounded-4">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Читай вместе с нами!</h1>
      <p class="col-md-8 fs-4">Читать - хорошо! Пиратить - хорошо! Пиратить чтобы читать - отлично!</p>
      <a href="{{ url_for('books_view') }}" class="btn btn-primary btn-lg" type="button">Начать <strike>пиратить</strike> читать!</a>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-4">
        <h2>Умный поиск</h2>
        <p>Вы можете найти книги по жанрам, авторам, названиям и так далее. Умный поиск с фильтрами и сортировками поможет найти любую интересующую книгу.</p>
        <a href="{{ url_for('books_view') }}" class="btn btn-outline-light" type="button">Ваш первый поиск</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-4">
        <h2>Большая база книг и авторов</h2>
        <p>На сайте есть большая база книг и авторов, среди которых вы точно найдёте то, что вам по душе.</p>
      </div>
    </div>
  </div>
</div>